
.header{

    display:flex;    
    justify-content:space-between;
    padding: 1rem;
    height:56px;
    align-items:center;
}

.header__logo img{
    width:24px;
    height:24px;
}

.header__logo{
    align-items:center;
    display:flex;
    gap:8px;
    flex-grow:0;
    padding:0;
}

.header__logo h3{
    font-weight:bold;
    font-size:16px;
}

.header__nav li{
    display:none;
}

.header__nav li:last-child{
    display:block;
    font-size:14px;
}

@media screen and (min-width: 768px) {
   .header__nav li{
    font-weight: bold;
   }
}

@media screen and (min-width:1440px) {
    .header{
        margin: auto;
        width: 80%;
        max-width: 1136px;
    }

    .header__nav{
        display: flex;
        align-items: center;
        gap: 32px;
    }

    .header__nav li{
        display: block;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: #464646;
    }
}