.card_container{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: auto;
    padding: 16px;
}


.pt{
    padding-top: 32px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    max-width: 1136px;
}

.card_title{
    
    font-size: 22px;
    font-weight: 700;
}

.card{
    align-items: flex-start;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 118px;
    justify-content: flex-end;
    padding: 16px;
    width: 156px;
    
}

.card svg{
    width: 40px;
    
}

@media screen and (min-width: 768px) {
    .card{
        width: 224px;
    }
}

@media screen and (min-width: 1440px) {

    .card-container{
        width: 1136px;
    }

    .card{
        width: 176px;
    }
}